ul {
    list-style: none;
    li {
        border: solid 1px #ddd;
        margin: 10px 0;
        padding: 10px;
        word-break: break-word;
    }
}

.avatar {
    width: 100%;
}

.primary-info {
    .info-label, .info-data {
        display: inline-block;
    }
    .info-label {
        margin-right: 10px;
        font-weight: bold;
    }
}

