/* Context Specific */

.container {
  margin-left: auto;
  margin-right: auto;
  border: solid 1px;
  //padding: 20px;
}

.container .flex {
  margin-bottom: 20px;
}

.container .flex div, .col {
  text-align: center;
  height: 100px;
  background-color: lightblue;
  border: solid 1px;
}

.col {
  border: solid 1px;
} 


/* ----------------------------- */
/* Base Classes */

/* .flex class denotes flex "box" or container inside which children would be flexed */

.flex {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  //flex properties for when the flex container is itself the child of a flex container
  //it should shrink in order to avoid overflow of content
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  
}

.flex-row {
  @extend .flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* I think this was to fix an IE 9 bug, either way needs updated to be more specific.
b, font, p {
    -ms-flex-preferred-width: 100%;
    flex-basis: 100%;
    max-width: 100%;
    display: inline-block;
}
*/

.flex-row-one { @extend .flex-row; margin-bottom: 10px; }
.flex-row-two { @extend .flex-row; margin-bottom: 20px; }
.flex-row-three { @extend .flex-row; margin-bottom: 30px;}
.flex-row-four { @extend .flex-row; margin-bottom: 40px; }
.flex-row-five { @extend .flex-row; margin-bottom: 50px; }



.flex-space-evenly {
  /*
  Items are evenly distributed in the line with equal space around them. 
  Note that visually the spaces aren't equal, since all the items have equal space on both sides. 
  The first item will have one unit of space against the container edge, but two units of space between the next item because that next item has its own spacing that applies.
  */
  @extend .flex;
  justify-content: space-evenly;
}

.flex-space-around {
  /*
  Items are distributed so that the spacing between any two items (and the space to the edges) is equal.
  */
  @extend .flex;
  justify-content: space-around;
}

.flex-space-between {
  /*
  Items are evenly distributed in the line; first item is on the start line, last item on the end line
  
  Probably ideal for grids..?
  */
  @extend .flex;
  justify-content: space-between;
}

.flex-start {
  /*
  items are packed toward the start line
  */
  @extend .flex;
  justify-content: flex-start;
}

.flex-end {
  /*
  items are packed toward the end line
  */
  @extend .flex;
  justify-content: flex-end;
}

.flex-center {
  /*
  items are packed toward the end line
  */
  @extend .flex;
  justify-content: center;
}

.flex-wrap {
  -webkit-flex-wrap: no-wrap;
  flex-wrap: wrap;
}

.flex-vertical-center {
    align-items: center;
}

.flex-child {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;

}

.flex-order-1 {
    order: 1;
}

.flex-order-2 {
    order: 2;
}

.flex-order-3 {
    order: 3;
}

.flex-order-4 {
    order: 4;
}

.flex-order-5 {
    order: 5;
}

/* ----------------------------------- */

.flex-child-no-flex-zone {
  //they know better
  flex: none;
}

.flex-child-1x {
  flex: 1 1 auto;
}

.flex-child-2x {
  flex: 2 2 auto;
}

.flex-child-3x {
  flex: 3 3 auto;
}

.flex-child-4x {
  flex: 4 4 auto;
}

.flex-child-5x {
  flex: 5 5 auto;
}

.flex-child-6x {
  flex: 6 6 auto;
}

.flex-child-7x {
  flex: 7 7 auto;
}

.flex-child-8x {
  flex: 8 8 auto;
}

.flex-child-9x {
  flex: 9 9 auto;
}

.flex-child-10x {
  flex: 10 10 auto;
}

.flex-child-11x
{
  flex: 11 11 auto;
}

.flex-child-12x {
  flex: 12 12 auto;
}




.flex-child-twelve, .flex-child-full  {
  -ms-flex-preferred-width: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.flex-child-eleven {
  -ms-flex-preferred-width: 91.5%;
  flex-basis: 91.5%;
  max-width: 91.5%;
}

.flex-child-ten {
  -ms-flex-preferred-width: 83%;
  flex-basis: 83%;
  max-width: 83%;
}

.flex-child-nine {
  -ms-flex-preferred-width: 74.5%;
  flex-basis: 74.5%;
  max-width: 74.5%;
}

.flex-child-eight {
  -ms-flex-preferred-width: 66%;
  flex-basis: 66%;
  max-width: 66%;
}

.flex-child-seven {
  -ms-flex-preferred-width: 57.5%;
  flex-basis: 57.5%;
  max-width: 57.5%;
}

.flex-child-six {
  -ms-flex-preferred-width: 49%;
  flex-basis: 49%;
  max-width: 49%;
}

.flex-child-five {
  -ms-flex-preferred-width: 40.5%;
  flex-basis: 40.5%;
  max-width: 40.5%;
}

.flex-child-four {
  -ms-flex-preferred-width: 32%;
  flex-basis: 32%;
  max-width: 32%;
}

.flex-child-three {
  -ms-flex-preferred-width: 23.5%;
  flex-basis: 23.5%;
  max-width: 23.5%;
}

.flex-child-two {
  -ms-flex-preferred-width: 15%;
  flex-basis: 15%;
  max-width: 15%;
}

.flex-child-one {
  -ms-flex-preferred-width: 6.5%;
  flex-basis: 6.5%;
  max-width: 6.5%;
}

/* --- Tablet ---- */
@media only screen and (min-width: 767px) and (max-width: 959px) {
  
  .tablet-flex-child-break {
    display: block;
  }
  
  .tablet-flex-child-1x {
    flex: 1 1 auto;
  }
  
  .tablet-flex-child-2x {
    flex: 2 2 auto;
  }

  .tablet-flex-child-3x {
    flex: 3 3 auto;
  }

  .tablet-flex-child-4x {
    flex: 4 4 auto;
  }

  .tablet-flex-child-5x {
    flex: 5 5 auto;
  }

  .tablet-flex-child-6x {
    flex: 6 6 auto;
  }

  .tablet-flex-child-7x {
    flex: 7 7 auto;
  }

  .tablet-flex-child-8x {
    flex: 8 8 auto;
  }

  .tablet-flex-child-9x {
    flex: 9 9 auto;
  }

  .tablet-flex-child-10x {
    flex: 10 10 auto;
  }

  .tablet-flex-child-11x {
    flex: 11 11 auto;
  }

  .tablet-flex-child-12x {
    flex: 12 12 auto;
  }
  
  .tablet-flex-child-twelve, .tablet-flex-child-full  {
    -ms-flex-preferred-width: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .tablet-flex-child-eleven {
    -ms-flex-preferred-width: 91.5%;
    flex-basis: 91.5%;
    max-width: 91.5%;
  }

  .tablet-flex-child-ten {
    -ms-flex-preferred-width: 83%;
    flex-basis: 83%;
    max-width: 83%;
  }

  .tablet-flex-child-nine {
    -ms-flex-preferred-width: 74.5%;
    flex-basis: 74.5%;
    max-width: 74.5%;
  }

  .tablet-flex-child-eight {
    -ms-flex-preferred-width: 66%;
    flex-basis: 66%;
    max-width: 66%;
  }

  .tablet-flex-child-seven {
    -ms-flex-preferred-width: 57.5%;
    flex-basis: 57.5%;
    max-width: 57.5%;
  }

  .tablet-flex-child-six {
    -ms-flex-preferred-width: 49%;
    flex-basis: 49%;
    max-width: 49%;
  }

  .tablet-flex-child-five {
    -ms-flex-preferred-width: 40.5%;
    flex-basis: 40.5%;
    max-width: 40.5%;
  }

  .tablet-flex-child-four {
    -ms-flex-preferred-width: 32%;
    flex-basis: 32%;
    max-width: 32%;
  }

  .tablet-flex-child-three {
    -ms-flex-preferred-width: 23.5%;
    flex-basis: 23.5%;
    max-width: 23.5%;
  }

  .tablet-flex-child-two {
    -ms-flex-preferred-width: 15%;
    flex-basis: 15%;
    max-width: 15%;
  }

  .tablet-flex-child-one {
    -ms-flex-preferred-width: 6.5%;
    flex-basis: 6.5%;
    max-width: 6.5%;
  }
}

/* -------- Mobile -------- */

@media only screen and (max-width: 766px) {
  
  .mobile-flex-child-break {
    display: block;
  }
  .mobile-flex-child-1x {
    flex: 1 1 auto;
  }
  
  .mobile-flex-child-2x {
    flex: 2 2 auto;
  }

  .mobile-flex-child-3x {
    flex: 3 3 auto;
  }

  .mobile-flex-child-4x {
    flex: 4 4 auto;
  }

  .mobile-flex-child-5x {
    flex: 5 5 auto;
  }

  .mobile-flex-child-6x {
    flex: 6 6 auto;
  }

  .mobile-flex-child-7x {
    flex: 7 7 auto;
  }

  .tablet-flex-child-8x {
    flex: 8 8 auto;
  }

  .mobile-flex-child-9x {
    flex: 9 9 auto;
  }

  .mobile-flex-child-10x {
    flex: 10 10 auto;
  }

  .mobile-flex-child-11x {
    flex: 11 11 auto;
  }

  .mobile-flex-child-12x {
    flex: 12 12 auto;
  }
  
  
  .mobile-flex-child-twelve, .mobile-flex-child-full  {
    -ms-flex-preferred-width: 100%;
    flex-basis: 100%;
    max-width: 100%;
    max-width: 100%;
  }

  .mobile-flex-child-eleven {
    -ms-flex-preferred-width: 91.5%;
    flex-basis: 91.5%;
    max-width: 91.5%;
  }

  .mobile-flex-child-ten {
    -ms-flex-preferred-width: 83%;
    flex-basis: 83%;
    max-width: 83%;
  }

  .mobile-flex-child-nine {
    -ms-flex-preferred-width: 74.5%;
    flex-basis: 74.5%;
    max-width: 74.5%;
  }

  .mobile-flex-child-eight {
    -ms-flex-preferred-width: 66%;
    flex-basis: 66%;
    max-width: 66%;
  }

  .mobile-flex-child-seven {
    -ms-flex-preferred-width: 57.5%;
    flex-basis: 57.5%;
    max-width: 57.5%;
  }

  .mobile-flex-child-six {
    -ms-flex-preferred-width: 49%;
    flex-basis: 49%;
    max-width: 49%;
  }

  .mobile-flex-child-five {
    -ms-flex-preferred-width: 40.5%;
    flex-basis: 40.5%;
    max-width: 40.5%;
  }

  .mobile-flex-child-four {
    -ms-flex-preferred-width: 32%;
    flex-basis: 32%;
    max-width: 32%;
  }

  .mobile-flex-child-three {
    -ms-flex-preferred-width: 23.5%;
    flex-basis: 23.5%;
    max-width: 23.5%;
  }

  .mobile-flex-child-two {
    -ms-flex-preferred-width: 15%;
    flex-basis: 15%;
    max-width: 15%;
  }

  .mobile-flex-child-one {
    -ms-flex-preferred-width: 6.5%;
    flex-basis: 6.5%;
    max-width: 6.5%;
  }
}


/* Small to medium screens 
@media (min-width: 24em) {

  .small-flex-fit > .flex-child {
    flex: 1;
  }
  .small-flex-full > .flex-child {
    -ms-flex-preferred-width: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .small-flex-1of2 > .flex-child {
    -ms-flex-preferred-width: 50%;
    flex-basis: 50%
    max-width: 50%;
  }
  .small-flex-1of3 > .flex-child {
    -ms-flex-preferred-width: 33.3333%;
    flex-basis: 33.3333%
    max-width: 33.3333%;
  }
  .small-flex-1of4 > .flex-child {
    -ms-flex-preferred-width: 25%;
    flex-basis: 25%
    max-width: 25%;
  }
}
*/
/* Large screens 
@media (min-width: 48em) {

  .large-flex-fit > .flex-child {
    flex: 1;
  }
  .large-flex-full > .flex-child {
    -ms-flex-preferred-width: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .large-flex-1of2 > .flex-child {
    -ms-flex-preferred-width: 50%;
    flex-basis: 50%
    max-width: 50%;
  }
  .large-flex-1of3 > .flex-child {
    -ms-flex-preferred-width: 33.3333%;
    flex-basis: 33.3333%
    max-width: 33.3333%;
  }
  .large-flex-1of4 > .flex-child {
    -ms-flex-preferred-width: 25%;
    flex-basis: 25%
    max-width: 25%;
  }
}*/