@import 'variables';

html,
body,
ul,
ol {
  margin:  0;
  padding: 0;
}

body {
    box-sizing: border-box;
    font-family: $base-fonts;
    font-size: 12px;
    color: $standard-text-color;
}

section {
    width: 80%;
    margin: 30px auto;
    padding: 10px;
}

h1 {
    font-size: 26px;
}
h2 {
    font-size: 18px;
    font-style: italic;
    font-weight: 200;
}

.panel {
    border: solid 1px #ddd;
    border-radius: 5px;
    box-shadow: 1px 1px 20px #eee;
}
